.git
.github
.vscode
.idea

data
dist
node_modules
test-results
playwright-report
coverage

*.db
*.db-*
*.log
*.patch
*.tar
*.tar.gz
*.zip
*:Zone.Identifier

README.md
BACKLOG.md
CHANGELOG.md
docs
tests
static
templates
