{{define "book-table"}}
<div class="table-view">
    <table class="book-table">
        <thead>
            <tr>
                <th>الغلاف</th>
                <th>العنوان</th>
                <th>المؤلف</th>
                <th>الناشر</th>
                <th>السعر</th>
                <th>التصنيف</th>
                <th>الحالة</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <!-- JS injectera les lignes ici -->
        </tbody>
    </table>
</div>
{{end}}